<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="css/app.css" rel="stylesheet" asp-append-version="true" />
    <link href="css/shared/content-pages.css" rel="stylesheet" asp-append-version="true" />
    <link href="msih.p4g.styles.css" rel="stylesheet" asp-append-version="true" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" asp-append-version="true">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" asp-append-version="true">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="js/site.js"></script>
    <script src="js/braintree.js"></script>
</body>
</html>
