@* 
 * Copyright (c) 2025 MSIH LLC. All rights reserved.
 * This file is developed for Make Sure It Happens Inc.
 * Unauthorized copying, modification, distribution, or use is prohibited.
 *@

@page "/"
@namespace msih.p4g.Client.Features.Authentication.Pages

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new msih.p4g app.
