@page "/terms"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Terms of Service</PageTitle>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Terms of Service</h1>

            <div class="content-page">
                <p>
                    Welcome! We're Make Sure It Happens Inc and we're so happy to have you as our guest. By accessing the Site (defined below) and/or using any of the Services (also defined below) you're agreeing to these legally binding rules, aka the "Terms." You're also agreeing to our Privacy Policy, which is incorporated into and a part of these Terms.
                </p>

                <p>
                    You acknowledge that these Terms are supported by reasonable and valuable consideration, and you acknowledge the receipt and sufficiency of that consideration.
                </p>

                <p>
                    If you do not accept these Terms, and/or if you are not of legal age to form a binding contract with Make Sure It Happens Inc, you may not use the Sites or the Services.
                </p>

                <p>
                    Finally, you should note that we may offer special services or features from time to time that have their own terms and conditions. In those cases, if the terms specific to the special feature or service conflict with these Terms, the terms specific to the special feature or service will control.
                </p>

                <p>
                    We aim for clarity in these Terms so that they will be easy to follow. These Terms were last updated on 07/4/2025, and will be updated on an ongoing basis, as necessary. We will be sure to let you know when we make material changes with a notification on your next visit to the Site. You agree that we may notify you by posting them on the Site, and that your use of the Site and/or Services after the effective date of the updated Terms will constitute agreement to the updated Terms.
                </p>

                <div class="table-responsive mb-4">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Term</th>
                                <th>Definition</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>We, Us, Our</td>
                                <td>The nonprofit entity Make Sure It Happens Inc</td>
                            </tr>
                            <tr>
                                <td>the Site</td>
                                <td>msih.org and all msih.org mobile apps</td>
                            </tr>
                            <tr>
                                <td>the Services</td>
                                <td>The services offered through the Site</td>
                            </tr>
                            <tr>
                                <td>msih.org</td>
                                <td>Just to clarify: when we are talking about the nonprofit entity called Make Sure It Happens Inc, we say "we," "us," "our," or just "msih.org". However, when we are discussing our website (msih.org) or one of our mobile apps, we say the "Site"</td>
                            </tr>



                            <tr>
                                <td>People/Person</td>
                                <td>Anyone that uses the Site</td>
                            </tr>
                            <tr>
                                <td>Donor/Supporter</td>
                                <td>Anyone who uses the Site to Donate</td>
                            </tr>

                            <tr>
                                <td>Terms</td>
                                <td>This binding agreement, the Make Sure It Happens Inc Terms of Use</td>
                            </tr>
                            <tr>
                                <td>UGC</td>
                                <td>User-Generated Content, any content created by you that you publicly post on the Site, including, for example, comments.</td>
                            </tr>
                            <tr>
                                <td>Donate</td>
                                <td>To send money to Make Sure It Happens Inc through the Site</td>
                            </tr>
                            <tr>
                                <td>Donation</td>
                                <td>The actual money Donated</td>
                            </tr>

                            <tr>
                                <td>One-Time Donation</td>
                                <td>A Donation that occurs only once (obviously)</td>
                            </tr>
                            <tr>
                                <td>Recurring Donation</td>
                                <td>A donation you set up to repeat on a regular basis</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <p>
                    These Terms govern your use of the Site, which as you can see above, means both our website and all of our mobile apps (real or imagined). If you do not agree to be bound by these Terms, you may not use or access the Site or Services.
                </p>

                <h2>The Basics for Donors</h2>
                <p>
                    Make Sure It Happens Inc is a service designed to make supporting your favorite causes as easy as possible, and to facilitate a community built on giving. Our Site is meant solely for personal, non-commercial use.
                </p>

                <p>
                    In order to make full use of the Site, you will need to register for an account. For more information about the account-creation process, including what information we collect and how we use it, please consult our Privacy Policy.
                </p>

                <h3>Donations</h3>
                <p>
                    Using the Site, you can make donations directly to Make Sure It Happens Inc, a US 501(c)(3) nonprofit organization. All donations are made to and received by Make Sure It Happens Inc exclusively.
                </p>

                <p>
                    When you make a donation through the Site, your Donation goes directly to Make Sure It Happens Inc, which has exclusive legal control over the Donation, and we issue you a receipt for your charitable contribution as a US 501(c)(3) nonprofit. At the time you make a Donation to Make Sure It Happens Inc, you may also tell us which causes or initiatives you're hoping to support with that Donation. Make Sure It Happens Inc uses donations to further its charitable mission and may, at its sole discretion, support various charitable causes and initiatives. This process ensures your eligibility for a tax deduction and consolidated records of your giving.
                </p>

                <p>
                    If circumstances make supporting a particular cause or initiative impossible or inappropriate, we may in our sole discretion direct your Donation to support alternate charitable activities within our mission. We will do our best to direct your Donation to causes and initiatives aligned with your preferences when possible. Except in cases of fraud, we do not issue refunds.
                </p>

                <p>
                    When you Donate through the Site, you may do so by either making a Recurring Donation or by making a One-Time Donation. You must provide a valid payment method to make a Donation using the Site. By providing your Payment Provider information, you agree that Make Sure It Happens Inc (through its third party payment service providers) is authorized to charge your Payment Provider for the full amount of any Donations you agree to make using the Site and that no additional notice or consent is required for such charges. You agree to notify us of any change in your billing address or payment account information used for payment hereunder.
                </p>

                <p>
                    If you would like to cancel a Recurring Donation, you may do so at any time by updating your settings on the Site. If the details of your Recurring Donation change, for example if we remove a nonprofit from our system, we will notify you and obtain your instructions prior to charging your next Recurring Donation payment.
                </p>



                <h2>Intellectual Property Rights Generally</h2>
                <p>
                    All trademarks, service marks, and trade names on the Site, including the Make Sure It Happens Inc trademark and the Make Sure It Happens Inc logo trademark are trademarks or registered trademarks of, and are proprietary to, Make Sure It Happens Inc or other owners that have granted Make Sure It Happens Inc permission to use their trademarks.
                </p>

                <p>
                    Make Sure It Happens Inc owns all rights, title, and interest in the Site, all text, content, graphics, interfaces, code and materials, the look and feel, selection and arrangement, design, and organization of the Site, and the compilation of the content, code, data, and materials on the Site, including all intellectual property and proprietary rights. The Site, Services, and all content contained in them are copyrighted and are the property of Make Sure It Happens Inc. We may change the Site or Services or delete the content or features of either at any time, in any way, for any or no reason.
                </p>

                <p>
                    You may not copy, download, use, redesign, reconfigure, or retransmit anything from the Site without Make Sure It Happens Inc's express prior written consent and, if applicable, express prior written consent from the holder of the rights to the intellectual property (in cases where the property in question is not owned by Make Sure It Happens Inc). We reserve all rights that are not expressly granted to you under these Terms or by law. You may not remove, obscure, or alter any legal notices displayed in or along with the Site.
                </p>

                <h2>User-Generated Content ("UGC")</h2>
                <p>
                    You are solely responsible for UGC. We've defined the term above, but for the sake of clarity we repeat it here, UGC is: any content created by you that you publicly post on the Site. We act merely as a passive conduit for your online Disbursement and publication of your UGC. You acknowledge and agree that Make Sure It Happens Inc is not involved in the creation or development of UGC, disclaims any responsibility for UGC, and cannot be liable for claims arising out of or relating to UGC. Further, you acknowledge and agree that Make Sure It Happens Inc has no obligation to monitor, review, or remove UGC, but reserves the right to limit or remove UGC on the Site at its sole discretion.
                </p>

                <p>
                    You hereby grant Make Sure It Happens Inc a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub-licensable right to exercise all copyrights, publicity rights, and any other rights you have in your UGC, in any media now known or not currently known in order to perform and improve upon the Make Sure It Happens Inc.
                </p>

                <p>
                    By posting UGC, you warrant and represent that you have the lawful authority to grant the rights set out above.
                </p>

                <h2>Digital Millennium Copyright Act</h2>
                <p>
                    Make Sure It Happens Inc has adopted the following policy towards copyright infringement in accordance with the Digital Millennium Copyright Act (the DMCA). If you believe any materials provide on or in connection with the Site infringes upon your intellectual property rights, please notify us by providing the following information:
                </p>

                <ul>
                    <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
                    <li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works;</li>
                    <li>Identification of the material claimed to be infringing or to be the subject of infringing activity and that is to be removed or access disabled and information reasonably sufficient to permit the service provider to locate the material;</li>
                    <li>Information reasonably sufficient to permit the service provider to contact you, such as an address, telephone number, and, if available, an electronic mail;</li>
                    <li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>
                    <li>A statement that, under penalty of perjury, the information in the notification is accurate and you are authorized to act on behalf of the owner of the exclusive right that is allegedly infringed.</li>
                </ul>

                <p>Please send the above information to legal@msih.org, or by mail to us at</p>
                <p>
                    <strong>DMCA Agent<br>
                    Make Sure It Happens Inc<br>
                    5013 Russett Rd, Rockville, MD 20853</strong>
                </p>

                <p>
                    We may give you notice that we have removed or disabled access to certain material by means of a general notice on the Site, electronic mail to a user's e-mail address in our records, or by written communication sent by first-class mail to your physical address in our records. If you receive such a notice, you may provide counter-notification in writing to the designated agent pursuant to instructions that will be included in the notice.
                </p>

                <h2>License to Use the Site</h2>
                <p>Subject to your compliance with these Terms, Make Sure It Happens Inc grants you a limited, non-exclusive, non-sublicensable, revocable, non-transferrable license to:</p>
                <ul>
                    <li>access and use the Site; and</li>
                    <li>access and use any content, information, and related materials that may be made available through the Site, in each case solely for your personal, noncommercial use</li>
                </ul>

                <p>Any rights not expressly granted herein are reserved by Make Sure It Happens Inc and its licensors.</p>

                <h2>Code of Conduct</h2>
                <p>You agree to:</p>
                <ul>
                    <li>comply with all applicable laws and regulations, including without limitation, privacy laws, intellectual property laws, and regulatory requirements.</li>
                </ul>

                <p>You agree that you will not:</p>
                <ul>
                    <li>act in an unlawful or unprofessional manner including being dishonest, abusive, insulting, threatening, discriminatory;</li>
                    <li>promote or encourage racism, sexism, homophobia, transphobia, or any other form of hatred or bigotry;</li>
                    <li>misrepresent your identity;</li>
                    <li>encourage or engage in any illegal activity;</li>
                    <li>commit fraud;</li>
                    <li>infringe on any third party's rights (including, without limitation, intellectual property right and privacy rights); and</li>
                    <li>represent yourself as being employed, an agent of, directly engaged by, or affiliated with Make Sure It Happens Inc.</li>
                </ul>

                <p>
                    If you need help dealing with another Person on the Site, or have any other concerns relating to our Code of Conduct, please let us know by contacting us and letting us know what happened. We take all allegations of abuse of any kind seriously.
                </p>

                <p>
                    Since it is illegal, it should go without saying, but just in case it wasn't already clear: you may not hack, clone, or otherwise tamper with or steal any aspect of the Site, nor interfere with its operations.
                </p>

                <h2>App Updates and Upgrades</h2>
                <p>
                    By installing any app associated with the Site, you consent to the installation of the app and any updates or upgrades that are released by Make Sure It Happens Inc on your device.
                </p>

                <p>
                    Such app (including any updates or upgrades) may (i) cause your device to automatically communicate with Make Sure It Happens Inc's servers to deliver functionality and to record usage metrics, (ii) affect app-related preferences or data stored on your device, and (iii) collect personal information as set out in our Privacy Policy. You can uninstall the app at any time.
                </p>

                <h2>Disclaimer and Limitation of Liability</h2>
                <ul>
                    <li>The site is provided to you "as is" and "as available" without warranty of any kind, either express or implied, including but not limited to, fitness for a particular purpose, title, or non-infringement.</li>
                    <li>Should applicable law not permit the foregoing exclusion of express or implied warranties, then we grant the minimum express or implied warranty required by applicable law. No advice or information, whether oral or written, shall create any warranty, representation or guarantee not expressly stated in this section.</li>
                    <li>Additionally, we do not make any warranties that the site will be uninterrupted, secure or error free or that your use of the site will meet your expectations, or that the site, or any portion thereof, is correct, accurate, or reliable. Your use of the site is at your own risk. you are solely responsible for your interactions with other people. Make Sure It Happens Inc is not responsible for the conduct of any user. Make Sure It Happens Inc does not conduct criminal background checks on its people.</li>
                    <li>Make Sure It Happens Inc will not be liable for any damages, direct, indirect, incidental, consequential, special, or punitive, including, without limitation, loss of data, income, profit or goodwill, loss of or damage to property and claims of third parties arising out of your access to or use of the site, however caused, whether based on breach of contract, tort (including negligence), proprietary rights infringement, product liability or otherwise.</li>
                    <li>The foregoing shall apply even if we were advised of the possibility of such damages. If you become dissatisfied in any way with the site, your sole and exclusive remedy is to stop your use of the site.</li>
                    <li>You hereby waive any and all claims arising out of your use of the site. Because some states do not allow the disclaimer of implied warranties or the exclusion or limitation of certain types of damages, these provisions may not apply to you. If any portion of this limitation on liability is found to be invalid or unenforceable for any reason, then our aggregate liability shall not exceed one hundred dollars ($100).</li>
                    <li>The limitation of liability herein is a fundamental element of the basis of the bargain and reflects a fair allocation of risk. The services would not be provided without such limitations and you agree that the limitations and exclusions of liability, disclaimers and exclusive remedies specified herein will survive even if found to have failed in their essential purpose.</li>
                </ul>

                <h2>Indemnification</h2>
                <p>
                    All the actions you make and information you post on the Site, and (for Nonprofits) all activities you conduct using Disbursements, remain your responsibility. Therefore, you agree to indemnify, defend, release, and hold us, and our partners, licensors, affiliates, contractors, officers, directors, employees, representatives and agents, harmless, from and against any third-party claims, damages (actual and/or consequential), actions, proceedings, demands, losses, liabilities, costs and expenses (including reasonable legal fees) suffered or reasonably incurred by us arising as a result of, or in connection with:
                </p>

                <ul>
                    <li>any negligent acts, omissions or willful misconduct by you;</li>
                    <li>your access to and use of the Site;</li>
                    <li>(for Nonprofits) your receipt of or failure to receive Disbursements via the Site;</li>
                    <li>any breach of these Terms or our Privacy Policy by you; and/or</li>
                    <li>your violation of any law or of any rights of any third party.</li>
                </ul>

                <p>
                    We retain the exclusive right to settle, compromise and pay any and all claims or causes of action which are brought against us without your prior consent. If we ask, you will co-operate fully and reasonably as required by us in the defense of any relevant claim.
                </p>

                <h2>Dispute Resolution</h2>
                <p class="fw-bold">The following Arbitration Agreement contains procedures for mandatory binding arbitration and a class action waiver.</p>

                <h3>Applicability of Arbitration Agreement</h3>
                <p>
                    All claims and disputes (excluding claims for injunctive or other equitable relief as set forth below) in connection with the Terms or the use of any product or service provided by Make Sure It Happens Inc that cannot be resolved informally or in small claims court shall be resolved by binding arbitration on an individual basis under the terms of this Arbitration Agreement. Unless otherwise agreed to, all arbitration proceedings shall be held in English. This Arbitration Agreement applies to you and Make Sure It Happens Inc, and to any subsidiaries, affiliates, agents, employees, predecessors in interest, successors, and assigns, as well as all authorized or unauthorized users or beneficiaries of services or goods provided under the Terms.
                </p>

                <h3>Notice Requirement and Informal Dispute Resolution</h3>
                <p>
                    Before either party may seek arbitration, the party must first send to the other party a written Notice of Dispute ("Notice") describing the nature and basis of the claim or dispute, and the requested relief. A Notice to Make Sure It Happens Inc should be sent to: [Address to be provided]. After the Notice is received, you and Make Sure It Happens Inc may attempt to resolve the claim or dispute informally. If you and Make Sure It Happens Inc do not resolve the claim or dispute within thirty (30) days after the Notice is received, either party may begin an arbitration proceeding. The amount of any settlement offer made by any party may not be disclosed to the arbitrator until after the arbitrator has determined the amount of the award, if any, to which either party is entitled.
                </p>

                <h2>Termination and Suspension</h2>
                <p>
                    We may terminate or limit your right to use the Site or Services in the event that we are investigating or believe that you have breached any provision of these Terms or our Privacy Policy by providing you with written or email notice. Such termination or limitation will be effective immediately upon delivery of such notice.
                </p>

                <p>
                    If we terminate or limit your right to use the Site or Services, you are prohibited from registering and creating a new account under your name, a fake or borrowed name, or the name of any third party, even if you may be acting on behalf of the third party. As a Nonprofit, you are prohibited from additional funding from Make Sure It Happens Inc. Even after your right to use the Site is terminated or limited, these Terms will remain enforceable against you. Make Sure It Happens Inc reserves the right to take appropriate legal action, including but not limited to pursuing arbitration.
                </p>

                <p>
                    Make Sure It Happens Inc reserves the right to modify or discontinue, temporarily or permanently, all or any portion of the Site and Services at its sole discretion. Make Sure It Happens Inc is not liable to you for any modification or discontinuance of all or any portion of the Site. We have the right to restrict anyone from using the Site or Services if we believe such person may threaten the safety and integrity of the Site, or if, in Make Sure It Happens Inc's discretion, such restriction is necessary to address any other reasonable business concern.
                </p>

                <h2>Miscellaneous</h2>
                <h3>Entire Agreement</h3>
                <p>These Terms and any other policies posted on the Site constitute the entire agreement and supersede all other agreements between Make Sure It Happens Inc and you relating to this subject matter.</p>

                <h3>Notices</h3>
                <p>You consent to receive any agreements, notices, disclosures, and other communications (collectively, "Notices") to which these Terms refer to electronically, including without limitation by electronic mail or by posting Notices on the Site. You agree that all Notices we provide to you electronically satisfy any legal requirement that such communications be in writing.</p>

                <h3>Governing Law and Jurisdiction</h3>
                <p>All claims arising out of or relating to these terms will be governed by California law, excluding California's conflict of laws rules, and will be litigated exclusively in the federal or state courts of San Francisco, California, USA; you consent to personal jurisdiction in those courts.</p>

                <p>The Site is controlled and operated from the United States, and is not intended to subject Make Sure It Happens Inc to the laws or jurisdiction of any state, country or territory other than that of the United States. We do not represent or warrant that the Site is appropriate or available for use in any particular jurisdiction other than the United States. In choosing to access the Site or use the Services, you do so on your own initiative and at your own risk, and you are responsible for complying with all local laws, rules and regulations. We may limit the availability of the Site or Services, in whole or in part, to any person, geographic area or jurisdiction we choose, at any time and in our sole discretion.</p>

                <h3>Severability</h3>
                <p>If any provision of these Terms is found to be unlawful, void, or unenforceable, the rest of the Terms will remain in effect.</p>

                <h3>Survival</h3>
                <p>All provisions of these Terms which by their nature should survive termination will survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability</p>

                <h3>Third Party Links</h3>
                <p>Our Site may contain links to third party websites that may give you information about organizations and events related to what we do. These third-party websites are not run by us, and they are responsible for, and undertake to maintain, their own terms of use. These links do not constitute endorsement or association by Make Sure It Happens Inc with these third-party websites, their content, or their operators. We have no control over the content of third-party sites and accept no responsibility for them and hereby disclaim all liability related to them.</p>

                <h3>No Third-Party Beneficiaries</h3>
                <p>These Terms control the relationship between Make Sure It Happens Inc and you. They do not create any third-party beneficiary rights.</p>

                <h3>No Agency</h3>
                <p>No agency, partnership, or joint venture, employer-employee relationship is intended or created by these Terms.</p>

                <h3>No Waiver</h3>
                <p>If you do not comply with these terms, and we don't take action immediately, this doesn't mean that we are giving up any rights that we may have (such as taking action in the future).</p>

                <h3>Changes to these Terms</h3>
                <p>We reserve the right, at our sole discretion, to change, modify, add, or remove any portion of these Terms, in whole or in part, at any time. When we do, we will give you notice of the revised Terms by posting the revised Terms on the Site and by revising the "last updated" date at the top of this page.</p>

                <h2>Contact Us</h2>
                <p>If you have questions or concerns about these terms, please contact us at: <strong>legal@msih.org</strong></p>
            </div>
        </div>
    </div>
</div>
