@* Copyright (c) 2025 MSIH LLC. All rights reserved.
   This file is developed for Make Sure It Happens Inc.
   Unauthorized copying, modification, distribution, or use is prohibited. *@
@using msih.p4g.Server.Features.CampaignService.Model

<select class="form-select" @bind="SelectedCampaignId">
    <option value="">-- Select a Campaign --</option>
    @foreach (var campaign in Campaigns)
    {
        <option value="@campaign.Id">@campaign.Title</option>
    }
</select>

@code {
    [Parameter] public List<Campaign> Campaigns { get; set; } = new();
    [Parameter] public int? SelectedCampaignId { get; set; }
    [Parameter] public EventCallback<int?> SelectedCampaignIdChanged { get; set; }
}
