@* Copyright (c) 2025 MSIH LLC. All rights reserved.
   This file is developed for Make Sure It Happens Inc.
   Unauthorized copying, modification, distribution, or use is prohibited. *@
@using msih.p4g.Server.Features.CampaignService.Model
@using msih.p4g.Server.Features.CampaignService.Interfaces
@inject ICampaignService CampaignService

<select class="form-select" @bind="SelectedCampaignId">
    <option value="">-- Select a Campaign --</option>
    @foreach (var campaign in campaigns.OrderBy(c => c.Title))
    {
        <option value="@campaign.Id">@campaign.Title</option>
    }
</select>

@code {
    [Parameter] public bool IsActive { get; set; } = true;
    [Parameter] public int? SelectedCampaignId { get; set; }
    [Parameter] public EventCallback<int?> SelectedCampaignIdChanged { get; set; }
    
    private List<Campaign> campaigns = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadCampaigns();
    }

    private async Task LoadCampaigns()
    {
        try
        {
            var allCampaigns = await CampaignService.GetAllAsync(includeInactive: !IsActive);
            campaigns = allCampaigns.ToList();
        }
        catch (Exception)
        {
            campaigns = new List<Campaign>();
        }
    }
}
