@* 
 * Copyright (c) 2025 MSIH LLC. All rights reserved.
 * This file is developed for Make Sure It Happens Inc.
 * Unauthorized copying, modification, distribution, or use is prohibited.
 *@

@page "/users"
@namespace msih.p4g.Client.Features.UserManagement.Pages

<PageTitle>Users</PageTitle>

<h1>User Management</h1>

<p>This is your user management page.</p>
