@*
 * Copyright (c) 2025 MSIH LLC. All rights reserved.
 * This file is developed for Make Sure It Happens Inc.
 * Unauthorized copying, modification, distribution, or use is prohibited.
 *@

@namespace msih.p4g.Client.Layout.Components
@inject IWebHostEnvironment env

<footer class="footer">
    <div class="container-fluid px-2 px-md-4">
        <div class="row mobile-stack">
            <div class="col-md-6">
                <h6 class="orange-motif d-inline-block rounded">Make Sure It Happens Inc.</h6>
                <p class="mb-1 mt-1">
                    <small>Provide charitable and educational assistance to the general public to help them make a positive impact on the world.</small>
                </p>
                <p class="mb-0">
                    <small>© @year MSIH LLC. All rights reserved. | Env: @envName | <BuildVersion /></small>
                </p>
            </div>
            <div class="col-md-3">
                <h6 class="text-uppercase fw-bold">
                    <span class="section-header">Quick Links</span>
                </h6>
                <ul class="list-unstyled mb-0">
                    <li><a href="/" class="footer-link">Home</a></li>
                    <li><a href="/donate" class="footer-link">Donate</a></li>
                    <li><a href="/login" class="footer-link">Login</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6 class="text-uppercase fw-bold">
                    <span class="section-header">Support</span>
                </h6>
                <ul class="list-unstyled mb-0">
                    <li><a href="/terms" target="_blank" class="footer-link">Terms</a></li>
                    <li><a href="/privacy" class="footer-link">Privacy Policy</a></li>
                    <li><a href="mailto:ithappens@msih.org?subject=Contact%20Us" class="footer-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

@code {
    public string? envName;
    public int year = DateTime.Today.Year;

    protected override void OnInitialized()
    {
        envName = env.EnvironmentName;
    }
}
