@* 
 * Copyright (c) 2025 MSIH LLC. All rights reserved.
 * This file is developed for Make Sure It Happens Inc.
 * Unauthorized copying, modification, distribution, or use is prohibited.
 *@

@namespace msih.p4g.Client.Layout.Components
@inject IWebHostEnvironment env
@inherits LayoutComponentBase  

<div class="page">  
    <div class="sidebar">  
        <NavMenu />  
    </div>  

    <main class="container-fluid px-0">  
        <div class="top-row px-4 d-flex justify-content-between">
            <div>
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
            <div>
                <UserMenu />
            </div>
        </div>  

        <article class="content px-4">  
            @Body  
        </article>
        © @year Env:@envName | <BuildVersion />
    </main>  
</div>

@code {
    public string? envName;
    public int year = DateTime.Today.Year;

    protected override void OnInitialized()
    {
        envName = env.EnvironmentName;
    }
}
